# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# PyCharm
.idea/

# Node
node_modules/

# Variables de entorno
.env


# Logs
*.log
logs/
.jenkins/

# Documentacion local no versionada
docs/
xd2df82d573fref76889798.md
